<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="no.opentech.chronojohn"
        android:versionCode="1"
        android:versionName="0.0.1">
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:icon="@drawable/chronojohn_icon" android:label="@string/app_name">
        <activity android:name=".activities.ViewTimersActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.TimerActivity" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name=".activities.NewTimerActivity"/>
        <activity android:name=".activities.QuickTimerActivity"/>
        <activity android:name=".activities.AlarmActivity"/>
        <activity android:name=".activities.HelpActivity" android:label="ChronoJohn Help"/>
        <receiver android:name=".utils.ChronoAlarm"/>
    </application>
</manifest>
